@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    //color
    --primary-color:#4361EE;
    --secondary-color:#3F37C9;
    --add-color:#0D6EFD;
    --footer-color:#212529;
    --background-color:#0082c3;
    --white-color:#F8F9FA;
    --footer-color:#212529;

    // fonts
    --primary-fonts:"Poppins", sans-serif;

    // font-size
    --font-sm: 0.75rem; //12px
    --font-md: 0.875rem; //14px
    --font-lg: 1rem; //16px
    --font-xl: 1.25rem; //20px
}